.confirm {
  position: relative;
  display: inline-block;
  width: 30rem;
  min-height: 8rem;
  background-color: gray;
  box-shadow: 0 0 10px gray;
  padding: 1rem;
}
.confirm > span {
  position: absolute;
  right: 1rem;
  background-color: red;
  padding: 0.2rem 0.5rem;
  color: yellow;
  cursor: pointer;
  border-radius: 2px;
}

.confirm__btn-container {
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  padding: 1rem;
}

.confirm__btn {
  margin: 0.5rem;
}

/* for transition CustomConfirm */
.trns-test-enter {
  opacity: 0;
  transform: translateX(1rem);
  transition: opacity 0.5s, transform 0.5s ease;
}
.trns-test-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s, transform 0.5s ease;
}
.trns-test-exit {
  opacity: 1;
  transform: translateX(1rem);
  transition: opacity 0.5s, transform 0.5s ease;
}
.trns-test-exit-active {
  opacity: 0;
}
